$top-color: #691818;
$white-color: #FFFCE9;
$text-color: #363046;
$font-family: 'Arial';
.nav
{
    background: $top-color;
    display: flex;
    position: absolute;
    width: 100.15%;
    height: 66px;
    left: -2px;
    top: -2px;
    .container{
        height: inherit;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.navbar{
    display: flex;
    flex-flow: row nowrap;
    &-menu{
        list-style-type: none;
        padding: auto;
        margin: auto;
        display: flex;
        float: right;
        li{
            display: inline-block;
            a{
            display: inline-block;
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 38px;
            display: flex;
            align-items: center;
            color: $white-color;
            text-decoration: none;
            padding: 10px;
            margin: auto;
            }
        }
    }
}
.paradise1{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: $white-color;
    padding: 40px;
    }
body{
    background: url(фотки/fon.jpg);
    height: 1640px;
}
.box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 1200px;
    height: 1140px;
    left: calc(50% - 1200px/2 + 0.5px);
    top: 130px;
    padding: auto;
    background: $white-color;
    background-blend-mode: lighten;
}
.text{
    display: inline-block;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 8px;
    padding: 40px;
    color: $text-color;
}
.row{
   
    margin-left: 107px;
    margin-right: 10px;
}
.box2{
    display: block;
    position: relative;
    width: 228px;
    height: 307px;
    background: $top-color;
    padding-top: 16px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
%img{
    display: flex;
    width: 196px;
    height: 245px;
    margin: auto;
}
.img1{
    background-image: url(фотки/shoes5.jpg);
    @extend %img;
}
.img2{
    background-image: url(фотки/shoes6.jpg);
    @extend %img;
}
.img3{
    background-image: url(фотки/shoe3.jpg);
    @extend %img;
}
.img4{
    background-image: url(фотки/shoes2.jpg);
    @extend %img;
}
.img5{
    background-image: url(фотки/shoes4.jpg);
    @extend %img;
}
.img6{
    background-image: url(фотки/shoes8.jpg);
    @extend %img;
}
.img7{
    background-image: url(фотки/shoes7.jpg);
    @extend %img;
}
.img8{
    background-image: url(фотки/shoes10.jpg);
    @extend %img;
}
.img9{
    background-image: url(фотки/shoes11.jpg);
    @extend %img;
}
.img10{
    background-image: url(фотки/shoes12.jpg);
    @extend %img;
}
.img11{
    background-image: url(фотки/shoes9.jpg);
    @extend %img;
}
.img12{
    background-image: url(фотки/shoes.jpg);
    @extend %img;
}
.price{
    display: block;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    margin-left: 16px;
    margin-top: 16px;
    color: $white-color;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1050px;
    margin: auto;
}
.footer{
    background: $white-color;
    padding: 120px 0;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 20%;
    padding: 10px;
    padding-left: 40px;
    h2{
        font-family: $font-family;
        font-size: 18px;
        color: $text-color;
        margin-bottom: 25px;
        font-weight: 400;
        position: relative;
    }
    ul{
        list-style: none;
        
        li a{
            font-family: $font-family;
            font-size: 15px;
            text-decoration: none;
            color: $text-color;
            display: block;
            transition: .3s ease;
            &:hover{
                color: $top-color;
                padding-left: 6px;
            }
        }
    }

}
.paradise3{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-size: 32px;
    color: $text-color;
    padding-right: 50px;
}
.fon{
    display: flex;
}
hr {
    border: none;
    background-color: $text-color;
    color: $text-color; 
    height: 1px; 
    width: 400px;
    margin-left: 107px;
    
   }