@charset "UTF-8";
.nav {
  background: #691818;
  display: flex;
  position: absolute;
  width: 100.15%;
  height: 66px;
  left: -2px;
  top: -2px;
}
.nav .container {
  height: inherit;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
}
.navbar-menu {
  list-style-type: none;
  padding: auto;
  margin: auto;
  display: flex;
  float: right;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-menu li a {
  display: inline-block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #FFFCE9;
  text-decoration: none;
  padding: 10px;
  margin: auto;
}

.paradise1 {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #FFFCE9;
  padding: 40px;
}

body {
  background: url(фотки/fon.jpg);
  height: 1640px;
}

.box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 1200px;
  height: 1140px;
  left: calc(50% - 600px + 0.5px);
  top: 130px;
  padding: auto;
  background: #FFFCE9;
  background-blend-mode: lighten;
}

.text {
  display: inline-block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 8px;
  padding: 40px;
  color: #363046;
}

.row {
  margin-left: 107px;
  margin-right: 10px;
}

.box2 {
  display: block;
  position: relative;
  width: 228px;
  height: 307px;
  background: #691818;
  padding-top: 16px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.img12, .img11, .img10, .img9, .img8, .img7, .img6, .img5, .img4, .img3, .img2, .img1 {
  display: flex;
  width: 196px;
  height: 245px;
  margin: auto;
}

.img1 {
  background-image: url(фотки/shoes5.jpg);
}

.img2 {
  background-image: url(фотки/shoes6.jpg);
}

.img3 {
  background-image: url(фотки/shoe3.jpg);
}

.img4 {
  background-image: url(фотки/shoes2.jpg);
}

.img5 {
  background-image: url(фотки/shoes4.jpg);
}

.img6 {
  background-image: url(фотки/shoes8.jpg);
}

.img7 {
  background-image: url(фотки/shoes7.jpg);
}

.img8 {
  background-image: url(фотки/shoes10.jpg);
}

.img9 {
  background-image: url(фотки/shoes11.jpg);
}

.img10 {
  background-image: url(фотки/shoes12.jpg);
}

.img11 {
  background-image: url(фотки/shoes9.jpg);
}

.img12 {
  background-image: url(фотки/shoes.jpg);
}

.price {
  display: block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin-left: 16px;
  margin-top: 16px;
  color: #FFFCE9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: auto;
}

.footer {
  background: #FFFCE9;
  padding: 120px 0;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 20%;
  padding: 10px;
  padding-left: 40px;
}
.footer-col h2 {
  font-family: "Arial";
  font-size: 18px;
  color: #363046;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li a {
  font-family: "Arial";
  font-size: 15px;
  text-decoration: none;
  color: #363046;
  display: block;
  transition: 0.3s ease;
}
.footer-col ul li a:hover {
  color: #691818;
  padding-left: 6px;
}

.paradise3 {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-size: 32px;
  color: #363046;
  padding-right: 50px;
}

.fon {
  display: flex;
}

hr {
  border: none;
  background-color: #363046;
  color: #363046;
  height: 1px;
  width: 400px;
  margin-left: 107px;
}/*# sourceMappingURL=Paradise4.css.map */